:root{}

h1,
h2,
h3,
h4,
p
{
    margin-top: 0;
    margin-bottom: 0;
}
ol,ul{
    margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
.link{text-decoration: none;}
.list{list-style: none;}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section{
    padding: 94px 0;
}



img{display: block;}
button {  cursor: pointer;
    font-family:inherit;}

body{
    font-family:;
    color:;
    font-size: ;
    letter-spacing:;
    background-color:;

}