:root{
    --font-family:'Poppins', sans-serif;
    --background-color:#FFFFFF;
    --primary-logo-color:#000000;
    --secondary-logo-color:#939393;
    --header-btn-text-color:#000000;
    --header-btn-background-color:#FFFFFF;
    --header-btn-border-color:#263238;
    --menu-text-color:#263238;
    --main-title-color:#000000;
    --secondary-title-color:#263238;
    --about-subtitle-color:#2A3246;
    --text-color:#8F95A5;

}

h1,
h2,
h3,
h4,
p
{
    margin-top: 0;
    margin-bottom: 0;
}
ol,ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.link{text-decoration: none;}
.list{list-style: none;}
.container{
   
    width: 1380px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


img{display: block;}
button {  cursor: pointer;
    font-family:inherit;}

body{
    font-family:var(--font-family);
    color:var(--text-color);
    font-size:20px ;
    line-height:1.5 ;
    background-color:var(--background-color);

}
.header{
    padding: 55px 0;
}
.header-flex{
    display: flex;
}
.nav{}
.nav-flex{display: flex;}
.logo{ 
    font-weight: 400;
    font-size: 36px;
    display: flex;
    align-items: center;
    color: var(--primary-logo-color);
    margin-right: 236px;
}
.logo-lex{color: var(--secondary-logo-color);}
.menu{
     display: flex;
    column-gap:50px ;}
 
.menu-item{
    font-weight: 500;
    color: var(--menu-text-color);}
.header-btn{
 
    align-items: center;
    margin-left: 121px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-btn-text-color);
    padding: 20px 106px;
    border: solid 2px var(--header-btn-border-color);
    border-radius: 10px;
    background-color: var(--header-btn-background-color);
    }
.home{
    padding-bottom: 182px;

}
.home-flex{
    display: flex;

}

.home-title{
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25;
    color: var(--main-title-color);
    margin-bottom: 40px;
    width: 386px;
    }

.home-text{
    font-weight: 400;
    font-size: 24px;
    width: 540px;
    margin-bottom: 60px;}
.home-btn{
    border: solid 1px #263238;
    border-radius: 10px;
    padding: 23px 64px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
background-color: #263238;}
.icon{

    margin-top: 134px;
    margin-left:-134px  ;}
.home-primary-img{
    margin-left: 144px;
}

.skill{
    padding-bottom: 180px;
}
.skill-title{
    text-align: center;
margin-bottom: 60px;
    font-weight: 600;
    font-size: 48px;
    color: var(--main-title-color);
    }
    .skill-list-flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    }
    .skill-card{
        radius:10px;
        background-color: #F5F5F5;
        }
    .skill-card-down{
        padding-top:24px ;
    }
    .skill-card-down-listening{
        
    }
    .card-one{grid-area: 1 / 1 / 3 / 2; }
    .card-two{grid-area: 1 / 2 / 2 / 3; }
    .card-three{grid-area: 1 / 3 / 2 / 4;}
    .card-four{grid-area: 2 / 2 / 3 / 4;
        display: flex;
        flex-direction: row-reverse;
     
    }

.skill-card-img{}
.skill-card-title{font-weight: 600;
    font-size: 30px;
    color: var(--secondary-title-color);}
.skill-card-text{font-weight: 400;
    font-size: 16px;
    }
.skill-card-btn{font-weight: 500;
    font-size: 18px;
    line-height: 1.5;

    color: #FFFFFF;
background-color: #263238;}
.about{
    padding-bottom: 180px;
}
.about-flex{
   display: flex;
}

.about-title{
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 60px;
    color: var(--main-title-color);
    }
.about-text{font-weight: 400;
    line-height: 1.8;
}
    .about-list-flex{
        display: flex;
        column-gap: 131px;
    }
.about-subtitle{font-weight: 600;
    font-size: 48px;
    text-align: center;

    color: var(--about-subtitle-color);}
.about-subtext{font-weight: 400;
    font-size: 20px;
    text-align: center;
    }
.about-img{}
.pricing{}
.pricing-title{font-weight: 600;
    font-size: 48px;

    color: var(--main-title-color);}
.pricing-card-img{}
.pricing-card-title{font-weight: 600;
    font-size: 30px;
    line-height: 1.6;
    text-transform: capitalize;
    color: var(--secondary-title-color);}
.pricing-card-text-primary{font-weight: 400;
    }
.pricing-card-text-secondary{font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #546269;}
.pricing-card-numb{
    font-size: 24px;
    color: #263238;}
.contact{}
.contact-img{}
.contact-title{font-weight: 600;
    font-size: 48px;
    color: var(--main-title-color);}
.contact-text{font-weight: 400;

    }
.contact-change-btn-first{font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #8F95A5;}
.contact-change-btn-second{font-weight: 500;
    font-size: 20px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
background-color: #263238;}
.footer{}
.footer-text{font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    }







