:root{
    --font-family:'Poppins', sans-serif;
    --background-color:#FFFFFF;
}

h1,
h2,
h3,
h4,
p
{
    margin-top: 0;
    margin-bottom: 0;
}
ol,ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.link{text-decoration: none;}
.list{list-style: none;}
.container{
   
    width: 1380px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


img{display: block;}
button {  cursor: pointer;
    font-family:inherit;}

body{
    font-family:var(--font-family);
    color:;
    font-size: ;
    letter-spacing:;
    background-color:var(--background-color);

}
.header{
    padding: 55px 0;
}
.header-flex{
    display: flex;
}
.nav{}
.nav-flex{display: flex;}
.logo{ 
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-right: 236px;
}
.logo-lex{color: #939393;}
.menu{
     display: flex;
    column-gap:50px ;}
 
.menu-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #263238;}
.header-btn{
 
    align-items: center;
    margin-left: 121px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
    padding: 20px 106px;
    border: solid 2px #263238;
    border-radius: 10px;
    background-color: #FFFFFF;
    }
.home{
    padding-bottom: 180px;
}
.home-flex{
    display: flex;

}

.home-title{
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: #000000;
    margin-bottom: 40px;
    width: 386px;
    }

.home-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
width: 540px;
    
    color: #8F95A5;
margin-bottom: 60px;}
.home-btn{
    border: solid 1px #263238;
    border-radius: 10px;
    padding: 23px 64px;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
background-color: #263238;}
.home-secondary-img{ 
    margin-top: 134px;
    margin-left:-134px  ;}
.home-primary-img{
    margin-left: 144px;
}

.skill{
    padding-bottom: 180px;
}
.skill-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
    }
    .skill-list-flex{
        display: flex;
    }
    .skill-card{
        radius:10px;
        background-color: #F5F5F5;
    }
    .card-one{}
    .card-two{}
    .card-three{}
    .card-four{
        align-self: flex-end;
    }

.skill-card-img{}
.skill-card-title{font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #263238;}
.skill-card-text{font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8F95A5;
    }
.skill-card-btn{font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;
background-color: #263238;}
.about{
    padding-bottom: 180px;
}
.about-flex{
   display: flex;
}

.about-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 60px;
    color: #000000;
    }
.about-text{font-weight: 400;
    font-size: 20px;
    line-height: 36px;

    color: #8F95A5;}
    .about-list-flex{
        display: flex;
        column-gap: 131px;
    }
.about-subtitle{font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;

    color: #2A3246;}
.about-subtext{font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #8F95A5;
    }
.about-img{}
.pricing{}
.pricing-title{font-weight: 600;
    font-size: 48px;
    line-height: 72px;

    color: #000000;}
.pricing-card-img{}
.pricing-card-title{font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    text-transform: capitalize;
    color: #263238;}
.pricing-card-text-primary{font-weight: 400;
    font-size: 20px;
    line-height: 30px; 
    color: #8F95A5;
    }
.pricing-card-text-secondary{font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #546269;}
.pricing-card-numb{
    font-size: 24px;
    line-height: 36px;
    color: #263238;}
.contact{}
.contact-img{}
.contact-title{font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #000000;}
.contact-text{font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    }
.contact-change-btn-first{font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #8F95A5;}
.contact-change-btn-second{font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
background-color: #263238;}
.footer{}
.footer-text{font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #8F95A5;
    }







